/* Input field */
.input-field {
  width: 100%;
  height: 2.5rem;
  padding-inline: 0.9375rem;

  outline: none;
  border-radius: 10px;
  border: 1px solid var(--blue-67-26);

  color: var(--red-0-47);
}

.field-error {
  color: var(--magenta-95-71);
}
