:root {
  --white: #fff;

  --black: #000;

  --blue-27-9: #16111d;
  --blue-48-5: #0d0714;
  --blue-48-64: #9d77cf;
  --blue-67-26: #3e1671;

  --red-0-47: #777;

  --green-48-64: #78cfb0;

  --magenta-95-71: #fb7185;
}
